In [20]:
import pandas as pd
import random

In [21]:
word_counts_train = dict()
word_counts_val = dict()
joints = {"neutral_train": {}, "contradiction_train": {}, "entailment_train": {}, "neutral_val": {}, "contradiction_val": {}, "entailment_val": {}}

In [22]:
def add_word(w, d):
    if w in d:
        d[w] += 1
    else:
        d[w] = 1

In [43]:
# filename_train = "../data/snli_1.0/cl_snli_train_source_file"
# filename_val = "../data/snli_1.0/cl_snli_val_source_file"
# filename_train_labels = "../data/snli_1.0/cl_snli_train_lbl_file"
# filename_val_labels = "../data/snli_1.0/cl_snli_val_lbl_file"
# filename_train = "../data/sick/cl_sick_train_source_file"
# filename_val = "../data/sick/cl_sick_val_source_file"
# filename_train_labels = "../data/sick/cl_sick_train_lbl_file"
# filename_val_labels = "../data/sick/cl_sick_val_lbl_file"
filename_train = "../data/snli_1.0/cl_snli_train_source_file"
filename_val = "min0.9,scaled--samples.txt"
filename_train_labels = "../data/snli_1.0/cl_snli_train_lbl_file"
filename_val_labels = "min0.9,scaled--samples_labels.txt"
train_labels = open(filename_train_labels, 'r')
train = open(filename_train, 'r', encoding="utf-8")
if "multinli" in filename_val:
    val = open(filename_val, 'rb')
else:
    val = open(filename_val, 'r')
val_labels = open(filename_val_labels, 'r', encoding="utf-8")
min_conditional = 0.9
min_support = 20

In [24]:
num_samples = 0

try:
    while True:
        label = next(train_labels).replace("\n", "")
        hypothesis = set(next(train).lower().split("|||")[1].replace("\n", "").split(" "))
        for word in hypothesis:
            add_word(word, word_counts_train)
            add_word(word, joints[label + "_train"])
        num_samples += 1
        if num_samples % 10000 == 0:
            print(num_samples, "completed")
except:
    pass

10000 completed
20000 completed
30000 completed
40000 completed
50000 completed
60000 completed
70000 completed
80000 completed
90000 completed
100000 completed
110000 completed
120000 completed
130000 completed
140000 completed
150000 completed
160000 completed
170000 completed
180000 completed
190000 completed
200000 completed
210000 completed
220000 completed
230000 completed
240000 completed
250000 completed
260000 completed
270000 completed
280000 completed
290000 completed
300000 completed
310000 completed
320000 completed
330000 completed
340000 completed
350000 completed
360000 completed
370000 completed
380000 completed
390000 completed
400000 completed
410000 completed
420000 completed
430000 completed
440000 completed
450000 completed
460000 completed
470000 completed
480000 completed
490000 completed
500000 completed
510000 completed
520000 completed
530000 completed
540000 completed

In [25]:
num_samples = 0

try:
    while True:
        label = next(val_labels).replace("\n", "")
        if "multinli" in filename_val:
            try:
                hypothesis = set(next(val).decode(encoding='UTF-8').lower().split("|||")[1].replace("\n", "").split(" "))
            except UnicodeDecodeError:
                pass
        else:
            hypothesis = set(next(val).lower().split("|||")[1].replace("\n", "").split(" "))
        for word in hypothesis:
            add_word(word, word_counts_val)
            add_word(word, joints[label + "_val"])
        num_samples += 1
        if num_samples % 10000 == 0:
            print(num_samples, "completed")
except StopIteration:
    pass

10000 completed
20000 completed
30000 completed
40000 completed
50000 completed
60000 completed
70000 completed
80000 completed
90000 completed
100000 completed
110000 completed
120000 completed
130000 completed
140000 completed
150000 completed
160000 completed
170000 completed
180000 completed
190000 completed
200000 completed
210000 completed
220000 completed
230000 completed
240000 completed
250000 completed
260000 completed
270000 completed
280000 completed
290000 completed
300000 completed
310000 completed
320000 completed
330000 completed
340000 completed
350000 completed
360000 completed
370000 completed
380000 completed
390000 completed
400000 completed
410000 completed
420000 completed
430000 completed
440000 completed
450000 completed
460000 completed
470000 completed
480000 completed
490000 completed
500000 completed
510000 completed
520000 completed
530000 completed
540000 completed

In [44]:
words = pd.DataFrame.from_dict(word_counts_train, orient='index').rename(columns={0: "count_train"})
words = words.join(pd.DataFrame.from_dict(word_counts_val, orient='index').rename(columns={0: "count_val"}), how="outer")
words.head()

   count_train  count_val
!        161.0      160.0
#         28.0       29.0
$         28.0       31.0
%         11.0       12.0
&         37.0       44.0

In [45]:
words = words.join(pd.DataFrame.from_dict(joints["neutral_train"], orient='index').rename(columns={0: "neutral_train"}), how="outer")
words = words.join(pd.DataFrame.from_dict(joints["contradiction_train"], orient='index').rename(columns={0: "contradiction_train"}), how="outer")
words = words.join(pd.DataFrame.from_dict(joints["entailment_train"], orient='index').rename(columns={0: "entailment_train"}), how="outer")
words = words.join(pd.DataFrame.from_dict(joints["neutral_val"], orient='index').rename(columns={0: "neutral_val"}), how="outer")
words = words.join(pd.DataFrame.from_dict(joints["contradiction_val"], orient='index').rename(columns={0: "contradiction_val"}), how="outer")
words = words.join(pd.DataFrame.from_dict(joints["entailment_val"], orient='index').rename(columns={0: "entailment_val"}), how="outer")
words.head()

,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
!,161.0,160.0,63.0,78.0,20.0,64.0,73.0,23.0
#,28.0,29.0,10.0,8.0,10.0,10.0,9.0,10.0
$,28.0,31.0,21.0,4.0,3.0,20.0,6.0,5.0
%,11.0,12.0,6.0,3.0,2.0,6.0,4.0,2.0
&,37.0,44.0,15.0,16.0,6.0,18.0,17.0,9.0

In [46]:
words = words.sort_values("count_train", ascending=False).reset_index().rename(columns={"index": "word"})
words.head()

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
0,.,439149.0,434184.0,145492.0,147546.0,146111.0,143969.0,143798.0,146417.0
1,a,329074.0,327958.0,109939.0,106046.0,113089.0,109169.0,104871.0,113918.0
2,the,242630.0,239113.0,91951.0,90757.0,59922.0,90318.0,88796.0,59999.0
3,is,221473.0,217094.0,73973.0,75753.0,71747.0,73021.0,72662.0,71411.0
4,are,125846.0,123048.0,41094.0,40852.0,43900.0,40071.0,39677.0,43300.0

In [47]:
words["neutral_train"] = words["neutral_train"] / words["count_train"]
words["contradiction_train"] = words["contradiction_train"] / words["count_train"]
words["entailment_train"] = words["entailment_train"] / words["count_train"]
words["neutral_val"] = words["neutral_val"] / words["count_val"]
words["contradiction_val"] = words["contradiction_val"] / words["count_val"]
words["entailment_val"] = words["entailment_val"] / words["count_val"]
words.head()

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
0,.,439149.0,434184.0,0.331304,0.335982,0.332714,0.331585,0.331191,0.337223
1,a,329074.0,327958.0,0.334086,0.322256,0.343658,0.332875,0.319770,0.347355
2,the,242630.0,239113.0,0.378976,0.374055,0.246969,0.377721,0.371356,0.250923
3,is,221473.0,217094.0,0.334005,0.342042,0.323954,0.336357,0.334703,0.328940
4,are,125846.0,123048.0,0.326542,0.324619,0.348839,0.325653,0.322451,0.351895

In [48]:
words = words[(words["neutral_train"] > min_conditional) | (words["contradiction_train"] > min_conditional) | (words["entailment_train"] > min_conditional)]
words.head()

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
196,nobody,2377.0,16.0,0.004207,0.995372,0.000421,0.562500,0.375000,0.062500
479,cats,818.0,121.0,0.044010,0.936430,0.019560,0.289256,0.578512,0.132231
583,vacation,632.0,173.0,0.909810,0.072785,0.017405,0.682081,0.254335,0.063584
621,nothing,585.0,93.0,0.047863,0.928205,0.023932,0.290323,0.559140,0.150538
868,least,388.0,51.0,0.064433,0.010309,0.925258,0.509804,0.117647,0.372549

In [49]:
words = words[words['count_train'] > min_support]
words.head()

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
196,nobody,2377.0,16.0,0.004207,0.995372,0.000421,0.562500,0.375000,0.062500
479,cats,818.0,121.0,0.044010,0.936430,0.019560,0.289256,0.578512,0.132231
583,vacation,632.0,173.0,0.909810,0.072785,0.017405,0.682081,0.254335,0.063584
621,nothing,585.0,93.0,0.047863,0.928205,0.023932,0.290323,0.559140,0.150538
868,least,388.0,51.0,0.064433,0.010309,0.925258,0.509804,0.117647,0.372549

In [50]:
words.shape

(81, 9)

In [51]:
words

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
196,nobody,2377.0,16.0,0.004207,0.995372,0.000421,0.562500,0.375000,0.062500
479,cats,818.0,121.0,0.044010,0.936430,0.019560,0.289256,0.578512,0.132231
583,vacation,632.0,173.0,0.909810,0.072785,0.017405,0.682081,0.254335,0.063584
621,nothing,585.0,93.0,0.047863,0.928205,0.023932,0.290323,0.559140,0.150538
868,least,388.0,51.0,0.064433,0.010309,0.925258,0.509804,0.117647,0.372549
...,...,...,...,...,...,...,...,...,...
5260,pushups,22.0,8.0,0.090909,0.909091,NaN,0.250000,0.750000,NaN
5265,frown,22.0,1.0,NaN,1.000000,NaN,NaN,1.000000,NaN
5358,triathlon,22.0,8.0,0.909091,0.090909,NaN,0.750000,0.250000,NaN
5372,videogames,21.0,8.0,0.095238,0.904762,NaN,0.250000,0.750000,NaN
5396,nephew,21.0,21.0,0.904762,0.095238,NaN,0.904762,0.095238,NaN

In [33]:
words[(words["neutral_val"] > 0.5) | (words["contradiction_val"] > 0.5) | (words["entailment_val"] > 0.5)]

,word,count_train,count_val,neutral_train,contradiction_train,entailment_train,neutral_val,contradiction_val,entailment_val
61,sleeping,6884.0,6733.0,0.066676,0.861563,0.071761,0.068617,0.857716,0.073667
142,no,3261.0,3210.0,0.087397,0.851273,0.061331,0.089408,0.847975,0.062617
162,cat,2935.0,2897.0,0.115162,0.824872,0.059966,0.114601,0.824646,0.060753
196,nobody,2377.0,16.0,0.004207,0.995372,0.000421,0.562500,0.375000,0.062500
200,alone,2332.0,2287.0,0.108491,0.825472,0.066038,0.111063,0.822038,0.066900
...,...,...,...,...,...,...,...,...,...
5484,jealous,21.0,21.0,0.857143,0.047619,0.095238,0.857143,0.047619,0.095238
5486,unemployed,21.0,21.0,0.095238,0.857143,0.047619,0.095238,0.857143,0.047619
5493,minute,21.0,20.0,0.857143,0.142857,NaN,0.800000,0.200000,NaN
5502,proposing,21.0,20.0,0.809524,0.142857,0.047619,0.800000,0.150000,0.050000
5503,footwear,21.0,21.0,0.142857,0.047619,0.809524,0.142857,0.047619,0.809524

In [34]:
81/296

0.27364864864864863